<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEXTICK</title>
    <link rel="stylesheet" href="/admin/addcategory.css">
    <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.png">

</head>

<body>
    <div class="container">
        <h1>Edit Category</h1>
        <form action="/admin/editcategory/{{category._id}}" method="post">
            <input type="text" style="border-width: 0px; color:red;font-weight:bold;width:70%" name="message"
                id="message" value="{{message}}">
            <div class="form-group">
                <label for="category">Category</label>
                <input type="text" id="category" name="category" value="{{category.category}}" required>
            </div>
            <div class="form-group">
                <label for="brand">Brand</label>
                <input type="text" id="brand" name="brand" value="{{category.brand}}" required>
            </div>

            <div class="form-group">
                <label for="bandcolor">Band Color</label>
                <input type="text" id="bandcolor" name="bandcolor" value="{{category.bandcolor}}" required>
            </div>

          <div style="display: flex;">
              <div class="button-group">
                <a  href="/admin/category"><button style="font-weight:bold;background-color: rgb(255, 41, 41);" type="button">back</button></a>
            </div>
              <div style="margin-left: 73%;" class="button-group">
                <button style="font-weight:bold;background-color:rgb(12, 176, 12)" type="submit">update Category</button>
            </div>
          </div>
        </form>

    </div>

    <script>
          setTimeout(() => {
            const messageField = document.getElementById('message');
            if (messageField) {
                messageField.value = ''; 
            }
        }, 2000); 
    </script>
</body>

</html>