<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
		content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Products</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<!-- Add your other CSS files here -->
	<style>
		.nav-link.active {
			background-color: rgba(255, 153, 0, 0.86);
			color: white;
		}

		.navv-link.active {
			background-color: rgba(243, 143, 4, 0.979);
			color: white;
		}


		.sidebar {
			height: 100vh;
			position: sticky;
			top: 0;
			overflow-y: auto;
		}

		@media (max-width: 991.98px) {
			.sidebar {
				height: auto;
				position: static;
			}
		}

		.card {
			height: 100%;
		}

		.card-img-top {
			padding-left: 17%;
			padding-right: 17%;
			height: 200px;
			object-fit: cover;
		}

		/* General Body Styles */
		body {
			margin: -25px;
			font-family: Arial, sans-serif;
		}

		/* Card Styles */
		.card {
			box-shadow: 0 0 15px 9px #cccccc69;
			border: none;
			transition: box-shadow 0.3s ease;
		}

		.card:hover {
			box-shadow: 0 0 15px 9px #eaeaea69;
		}



		.sidebar {
			overflow-y: auto;
			max-height: 99vh;
			padding: 10px;
			border: 1px solid rgb(255, 136, 0);
			height: 5000px;
		}

		.sidebar a {
			display: block;
			text-decoration: none;
			color: rgb(255, 136, 0);
			border: 1px solid rgb(255, 136, 0);
			border-radius: 5px;
			padding: 8px 10px;
			text-align: center;
			background-color: transparent;
			transition: all 0.4s ease;
			margin-top: 5px;
		}


		.sidebar a:hover {
			background-color: rgb(255, 136, 0);
			color: white;
		}

		/* Active State for Buttons */
		.sidebar a.active {
			background-color: rgb(255, 136, 0);
			color: white;
		}

		/* Ensure other content doesn't overlap the sidebar */
	</style>
	<!-- title -->
	<title>Products</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="/assets/img/favicon.png">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="/assets/css/all.min.css">
	<!-- bootstrap -->
	<link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
	<!-- owl carousel -->
	<link rel="stylesheet" href="/assets/css/owl.carousel.css">
	<!-- magnific popup -->
	<link rel="stylesheet" href="/assets/css/magnific-popup.css">
	<!-- animate css -->
	<link rel="stylesheet" href="/assets/css/animate.css">
	<!-- mean menu css -->
	<link rel="stylesheet" href="/assets/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="/assets/css/main.css">
	<!-- responsive -->
	<link rel="stylesheet" href="/assets/css/responsive.css">

</head>

<body>

	<!--PreLoader-->
	<div class="loader">
		<div class="loader-inner">
			<div class="circle"></div>
		</div>
	</div>
	<!--PreLoader Ends-->

	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="/">
								<p
									style="font-size:28px; color:white;margin-top:-5px;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
									NEXTIC<span style="font-weight: bold;color:rgb(238, 149, 15)">K</span></p>
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li><a href="/">Home</a>
								</li>
								<li><a href="/about">About</a></li>
								<li class="current-list-item"><a href="/products">Products</a></li>

								<ul class="sub-menu">
									<li><a href="/news.hbs">News</a></li>
									<li><a href="/single-news.hbs">Single News</a></li>
								</ul>
								</li>
								<li><a href="/contact">Contact</a></li>

								<ul class="sub-menu">
									<li>
										<form class="a" method="get" action="/shop">Shop</form>
									</li>
									<li><a href="/checkout.hbs">Check Out</a></li>
									<li><a href="/single-product.hbs">Single Product</a></li>
									<li><a href="/cart.hbs">Cart</a></li>
								</ul>
								</li>
								<li>
									<form method="post" action="/logout">
										<button class="a" type="submit"
											style="color:white; background: none; border: none;cursor: pointer; font-weight:bold">Log
											Out
										</button>
									</form>
								</li>
								<li>
									<div class="header-icons">
										<a href="/wishlist" class="love-icon">
											<i class="fas fa-heart"></i>
										</a>
										<a class="shopping-cart" href="/cart"><i class="fas fa-shopping-cart"></i></a>

										<a class="mobile-hide search-bar-icon" href="/profile"><i
												class="fas fa-user"></i></a>
									</div>
								</li>
							</ul>
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->

	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search arewa -->

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>the advantures of watches</p>
						<h1>Products</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	</head>

	<body>

		<div class="container-fluid">
			<div class="row">
				<!-- Sidebar -->
				<nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
					<div class="sidebar-sticky pt-3">
						<h5>Sort By:</h5>
						<div class="nav flex-column">
							<a class="nav-link {{#if (eq sort 'priceLowToHigh')}}active{{/if}}"
								href="/advancedSearch?sort=priceLowToHigh&page={{currentPage}}&query={{query}}&minPrice={{minPrice}}&maxPrice={{maxPrice}}&category={{category}}">Price:
								Low to High</a>
							<a class="nav-link {{#if (eq sort 'priceHighToLow')}}active{{/if}}"
								href="/advancedSearch?sort=priceHighToLow&page={{currentPage}}&query={{query}}&minPrice={{minPrice}}&maxPrice={{maxPrice}}&category={{category}}">Price:
								High to Low</a>
							<a class="nav-link {{#if (eq sort 'newArrivals')}}active{{/if}}"
								href="/advancedSearch?sort=newArrivals&page={{currentPage}}&query={{query}}&minPrice={{minPrice}}&maxPrice={{maxPrice}}&category={{category}}">New
								Arrivals</a>
						</div>



						<h5 class="mt-4">Filter Stock:</h5>
						<div class="nav flex-column">
							<div class="nav flex-column">
								<a class="navv-link {{#if (eq showOutOfStock 'include')}}active{{/if}}"
									href="/advancedSearch?showOutOfStock=include&page={{currentPage}}&query={{query}}&minPrice={{minPrice}}&maxPrice={{maxPrice}}&category={{category}}">Show
									All Products</a>
								<a class="navv-link {{#if (eq showOutOfStock 'exclude')}}active{{/if}}"
									href="/advancedSearch?showOutOfStock=exclude&page={{currentPage}}&query={{query}}&minPrice={{minPrice}}&maxPrice={{maxPrice}}&category={{category}}">Hide
									Out of Stock</a>
							</div>

						</div>


						<h5 class="mt-4">Filter by Price:</h5>
						<form id="price-filter-form" class="mb-3" action="/advancedSearch" method="get">
							<div class="form-group">
								<label for="min-price">Min Price:</label>
								<input type="number" id="min-price" name="minPrice" class="form-control" placeholder="0"
									value="{{minPrice}}">
							</div>
							<div class="form-group">
								<label for="max-price">Max Price:</label>
								<input type="number" id="max-price" name="maxPrice" class="form-control"
									placeholder="10000" value="{{maxPrice}}">
							</div>
							<button type="submit" class="btn btn-warning btn-block">Apply Price Filter</button>
						</form>


						<h5>Filter by Category:</h5>
						<select id="category-filter" class="form-control mb-3">

							<option>all categories</option>
							{{#each categories}}
							<option value="{{this.category}}">{{this.category}}</option>
							{{/each}}
						</select>


						<div style="color: white;">.</div>
						<div style="color: white;">.</div>
						<div style="color: white;">.</div>
						<div style="color: white;">.</div>
						<div style="color: white;">.</div>
						<div style="color: white;">.</div>
						<div style="color: white;">.</div>
						<div style="color: white;">.</div>
						<div style="color: white;">.</div>
						<div style="color: white;">.</div>
						<div style="color: white;">.</div>
						<div style="color: white;">.</div>
						<div style="color: white;">.</div>
						<div style="color: white;">.</div>
						<div style="color: white;">.</div>
					</div>
				</nav>

				<!-- Main content -->
				<main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
					<div
						class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
						<h1 class="h2">Our Products</h1>
					</div>

					<!-- Search form -->
					<form action="/advancedSearch" method="get" id="searchForm" class="mb-4">
						<div class="input-group">
							<input type="text" id="searchInput" name="query" class="form-control"
								placeholder="Search for products..." value="{{query}}">
							<div class="input-group-append">
								<button class="btn btn-outline-secondary" type="submit">Search</button>
							</div>
						</div>
						<input type="hidden" name="page" value="{{currentPage}}">
						<input type="hidden" name="minPrice" value="{{minPrice}}">
						<input type="hidden" name="maxPrice" value="{{maxPrice}}">
						<input type="hidden" name="category" value="{{category}}">
					</form>


					<!-- Product grid -->
					<div class="row">
						{{#if products.length}}
						{{#each products}}
						<a href="/product/{{this._id}}" style="text-decoration: none; color: inherit;">
							<div class="col-sm-6 col-md-4 col-lg-3 mb-4">
								<div class="card h-100">
									<img src="/{{this.images.[0]}}" class="card-img-top" alt="{{this.name}}">
									<div class="card-body d-flex flex-column">
										<h5 class="card-title">{{this.name}}</h5>
										<p class="card-text">Category: {{this.category.category}}</p>
										<p class="card-text">
											{{#if this.offerPrice}}
											{{#if (neq this.offerPrice this.price)}}
											<span class="text-muted"><s>₹{{this.price}}</s></span>
											<span class="text-success font-weight-bold">₹{{this.offerPrice}}</span>
											<span class="text-warning">({{this.discountValue}}{{#if (eq
												this.discountType "percentage")}}% OFF{{else}} ₹ OFF{{/if}})</span>
											{{else}}
											<span class="font-weight-bold">₹{{this.price}}</span>
											{{/if}}
											{{/if}}
										</p>
										<p class="card-text">
											Stock:
											{{#if this.stock}}
											<span class="text-success">{{this.stock}} Available</span>
											{{else}}
											<span class="text-danger">Out of Stock</span>
											{{/if}}
										</p>


						</a>
						<div class="mt-auto">
							<button style="width: 100%;" class="btn btn-sm btn-outline-danger add-to-wishlist"
								data-product-id="{{this._id}}">
								{{#if this.wishlist}}Remove from{{else}}Add to{{/if}} Wishlist
							</button>
							<form action="/addtocart" method="post" class="d-inline">
								<input type="hidden" name="productId" value="{{this._id}}">
								<input type="hidden" name="quantity" value="1">
								<button style="width: 100%;margin-top:5px" type="submit" class="btn btn-sm btn-warning">
									<i class="fas fa-shopping-cart"></i> Add to Cart
								</button>
							</form>
						</div>
					</div>
			</div>
		</div>
		{{/each}}{{else}}
		<div style="background-color: rgba(255, 174, 0, 0.248);padding:30px;" class="col-12 mt-5 text-center my-5">
			<h4 style="color: rgb(197, 0, 0);">We couldn't find any products matching your reference.</h4>
			<p class="fs-5 mt-3">Try refining your search or explore our categories to discover more options.</p>
		</div>
		{{/if}}



		</div>

		<!-- Pagination -->
		<nav aria-label="Page navigation" class="mt-4">
			<ul class="pagination justify-content-center">
				{{#if previousPage}}
				<li class="page-item">
					<a class="page-link"
						href="?page={{previousPage}}&query={{query}}&minPrice={{minPrice}}&maxPrice={{maxPrice}}&category={{category}}&sort={{sort}}&showOutOfStock={{showOutOfStock}}"
						aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				{{/if}}

				{{#each (range 1 totalPages)}}
				<li class="page-item {{#if (isEqual this ../currentPage)}}active{{/if}}">
					<a class="page-link"
						href="?page={{this}}&query={{query}}&minPrice={{minPrice}}&maxPrice={{maxPrice}}&category={{category}}&sort={{sort}}&showOutOfStock={{showOutOfStock}}">{{this}}</a>
				</li>
				{{/each}}

				{{#if nextPage}}
				<li class="page-item">
					<a class="page-link"
						href="?page={{nextPage}}&query={{query}}&minPrice={{minPrice}}&maxPrice={{maxPrice}}&category={{category}}&sort={{sort}}&showOutOfStock={{showOutOfStock}}"
						aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
				{{/if}}
			</ul>
		</nav>

		</main>
		</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script>

			document.addEventListener("DOMContentLoaded", function () {

				const wishlistButtons = document.querySelectorAll(".add-to-wishlist");
				wishlistButtons.forEach((button) => {
					button.addEventListener("click", async (event) => {
						const productId = button.dataset.productId;
						try {
							const response = await fetch(`/toggle/${productId}`, {
								method: "POST",
								headers: {
									"Content-Type": "application/json",
								},
							});
							const data = await response.json();
							if (data.success) {
								button.textContent = data.wishlist ? "Remove from Wishlist" : "Add to Wishlist";
								button.classList.toggle("btn-outline-danger");
								button.classList.toggle("btn-outline-danger");
							} else {
								console.error("Failed to toggle wishlist:", data.message);
							}
						} catch (error) {
							console.error("Error toggling wishlist:", error);
						}
					});
				});

				const priceFilterForm = document.getElementById("price-filter-form");
				priceFilterForm.addEventListener("submit", function (e) {
					e.preventDefault();
					const minPrice = document.getElementById("min-price").value;
					const maxPrice = document.getElementById("max-price").value;
					const url = new URL(window.location.href);
					url.searchParams.set('minPrice', minPrice);
					url.searchParams.set('maxPrice', maxPrice);
					window.location.href = url;
				});
				const categoryFilter = document.getElementById("category-filter");
				categoryFilter.addEventListener("change", function () {
					const category = this.value;
					const url = new URL(window.location.href);
					url.searchParams.set('category', category);
					window.location.href = url;
				});
			});
		</script>


		<!-- footer -->
		<div class="footer-area">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6">
						<div class="footer-box about-widget">
							<h2 class="widget-title">About us</h2>
							<p>Ut enim ad minim veniam perspiciatis unde omnis iste natus error sit voluptatem
								accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="footer-box get-in-touch">
							<h2 class="widget-title">Get in Touch</h2>
							<ul>
								<li>34/8, East Hukupara, Gifirtok, Sadan.</li>
								<li>support@fruitkha.com</li>
								<li>+00 111 222 3333</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="footer-box pages">
							<h2 class="widget-title">Pages</h2>
							<ul>
								<li><a href="/home.hbs">Home</a></li>
								<li><a href="/about.hbs">About</a></li>
								<li><a href="/services.html">Shop</a></li>
								<li><a href="/news.html">News</a></li>
								<li><a href="/contact.hbs">Contact</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="footer-box subscribe">
							<h2 class="widget-title">Subscribe</h2>
							<p>Subscribe to our mailing list to get the latest updates.</p>
							<form action="index.html">
								<input type="email" placeholder="Email">
								<button type="submit"><i class="fas fa-paper-plane"></i></button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end footer -->

		<!-- copyright -->
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-12">
						<p>Copyrights &copy; 2019 - <a href="https://imransdesign.com/">muhammed uvais</a>, All
							Rights
							Reserved.<br>
							Distributed By - <a href="https://themewagon.com/">nextick.store</a>
						</p>
					</div>
					<div class="col-lg-6 text-right col-md-12">
						<div class="social-icons">
							<ul>
								<li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
								<li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
								<li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end copyright -->

		<!-- jquery -->
		<script src="/assets/js/jquery-1.11.3.min.js"></script>
		<!-- bootstrap -->
		<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
		<!-- count down -->
		<script src="/assets/js/jquery.countdown.js"></script>
		<!-- isotope -->
		<script src="/assets/js/jquery.isotope-3.0.6.min.js"></script>
		<!-- waypoints -->
		<script src="/assets/js/waypoints.js"></script>
		<!-- owl carousel -->
		<script src="/assets/js/owl.carousel.min.js"></script>
		<!-- magnific popup -->
		<script src="/assets/js/jquery.magnific-popup.min.js"></script>
		<!-- mean menu -->
		<script src="/assets/js/jquery.meanmenu.min.js"></script>
		<!-- sticker js -->
		<script src="/assets/js/sticker.js"></script>
		<!-- form validation js -->
		<script src="/assets/js/form-validate.js"></script>
		<!-- main js -->
		<script src="/assets/js/main.js"></script>

	</body>

</html>